alias sdny="cd ~/SPELLBOOK/sevendaysnineyears/"

# Easier navigation: ..., ...., ....., and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
